@charset "UTF-8";

body{
    margin: 0px;
    background-color: #000000;

}

h3{
    background-color: #ffffff;
    width: 250px;
    text-align: center;
}



@media (min-width: 1280px){
    .bloco{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    h3{
        width: 250px;
    }
}

@media (min-width: 769px) and (max-width: 1280px){
    .bloco{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: 600px; 
    }

    h3{
        width: 300px;
    }
}

@media (min-width: 480px) and (max-width: 768px){
    .bloco{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        height: 600px; 
    }

    h3{
        width: 300px;
    }
}

@media (min-width: 290px) and (max-width: 479px){
    .bloco{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
}

@media (max-width: 289px) {
    .bloco{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 500px;
    }

    h3{
        width: 200px;
    }
}